@use "../global" as *;

/*――――――――――――――――――――――――――――――――――――――――――――
/* html,body
――――――――――――――――――――――――――――――――――――――――――――――*/
* {
  min-height: 0;
  min-width: 0;
}
html {

  scroll-behavior: smooth;

  @include sp {

  }
}

body {
  min-height: 100vh;
  color: #001C10;
  font-size: 16px;
  font-family: $font-family;
  line-height: 1.6;
  background-color: #fff;
  font-weight: 300;
  position: relative;

  &.is-active {
    overflow: hidden;
  }
}

@include sp {

}


/*――――――――――――――――――――――――――――――――――――――――――――
/* デフォルトの設定
――――――――――――――――――――――――――――――――――――――――――――――*/
img {
  display: block;
  max-width: 100%;
}
svg {
  display: block;
}
a {
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &.c-imgScale {
    .img {
      transition: 0.5s;
    }
    &:hover {
      opacity: 1;

      .img {
        transform: scale(1.1);
      }
    }
  }

  circle,
  path,
  line,
  rect {
    transition: 0.3s;
  }
}
input,
textarea {
  font-family: $font-family;
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* 共通のレイアウト
――――――――――――――――――――――――――――――――――――――――――――――*/


/*** section ***/
.l-section {
  padding: 75px $pd-pc 75px;
  position: relative;


}
.l-inner {
  width: 100%;
  max-width: $l-inner;
  margin: 0 auto;

  &.--s {
    max-width: $l-inner--s;
  }
}

@include sp {
  .l-section  {
    padding-right: 15px;
    padding-left: 15px;
  }
  .l-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* 余白調整
――――――――――――――――――――――――――――――――――――――――――――――*/
.l-pd {
  padding-right: $pd-pc;
  padding-left: $pd-pc;
  }
  .l-pd-left {
  padding-left: $pd-pc;
  }
  .l-pd-right {
  padding-right:$pd-pc;
  }
  .l-pd0-left {
  margin-left: $pd-pc-negative;
  }
  .l-pd0-right {
  margin-right: $pd-pc-negative;
  }

  @include sp {
  .l-pd {
      padding-right: 15px;
      padding-left: 15px;
  }
  .l-pd-left {
      padding-left: 15px;
  }
  .l-pd-right {
      padding-right: 15px;
  }
  .l-pd0-left {
      margin-left: -15px;
  }
  .l-pd0-right {
      margin-right: -15px;
  }
  }


/*――――――――――――――――――――――――――――――――――――――――――――
/* mixin
――――――――――――――――――――――――――――――――――――――――――――――*/
