/*――――――――――――――――――――――――――――――――――――――――――――
/* body
――――――――――――――――――――――――――――――――――――――――――――――*/

body {
    color: $txt-color;
    font-size: $font-size;
    font-family: $font-family;
    line-height: 1.6;
    min-width: 1000px;
    font-feature-settings: "palt";
    // background: url(../img/03-light-carpet.png);
}


@include sp {
    body {
        min-width: inherit;
    }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* pc sp 出し分けのためのcss
――――――――――――――――――――――――――――――――――――――――――――――*/
@include pc {
    .sp-only {
        display: none !important;
    }
    img {
        image-rendering: -webkit-optimize-contrast;
    }
}

@include sp {
    .pc-only {
        display: none !important;
    }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* デフォルトの設定
――――――――――――――――――――――――――――――――――――――――――――――*/
img {
    display: block;
    max-width: 100%;
}
a {
    transition: 0.3s;
    &:hover {
        opacity: 0.8;
    }
}


/*――――――――――――――――――――――――――――――――――――――――――――
/* 共通のレイアウト
――――――――――――――――――――――――――――――――――――――――――――――*/

/*** コンテナ ***/
.container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
}

/*** section ***/
.sec {
    padding: 80px 15px 80px;
    position: relative;
}
.sec-inner {
    max-width: $container-width;
}
.sec-ttl {
    font-size: $sec-h-size;
}
