.activityDescArea {
  padding-top: 53px;
  padding-bottom: 64px;
}
.c-activityDesc {
  text-align: center;
  .activityDesc__ttl {
    margin-bottom: 23px;
    color: #2195c5;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.52941176;
  }
  .activityDesc__lead {
    max-width: 900px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6667;
  }
}

@include sp {
  .activityDescArea {
    overflow: hidden;
    padding-top: 22px;
    padding-bottom: 50px;
  }
  .c-activityDesc {
    display: block;
    position: relative;
    .activityDesc__cont {
      width: auto;
      position: relative;
      z-index: 2;
    }
    .activityDesc__ttl {
      margin-bottom: 15px;
      font-size: 22px;
      font-weight: 600;
      text-align: left;
      line-height: 1.53;
    }
    .activityDesc__lead {
      font-size: 16px;
      text-align: left;
      line-height: 1.7;
    }
    .activityDesc__imgBox {
      position: static;
      margin-top: -70px;
      margin-right: -400px;
      margin-bottom: -250px;

      .img {
      }
    }
  }
}
