/*** 波線 ***/
.bg-wave {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    $background-color: 'ff7a2b';
    background-image:url("data:image/svg+xml;charset=utf-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='60' height='50' viewBox='0 0 20 20' preserveAspectRatio='none'%3e%3cpath fill='%23#{$background-color}' d='M-5-15q5 5 10 0t10 0 10 0v12q-5 5-10 0t-10 0-10 0zM-5 5q5 5 10 0t10 0 10 0v12q-5 5-10 0t-10 0-10 0z'/%3e%3c/svg%3e");
    background-repeat: repeat-x;
    background-size: 50px 50px;

    &.bg-top {
        top: -20px;
    }
    &.bg-bottom {
        bottom: -20px;
    }
}

/*** 斜め線 ***/
.bg-slope {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    $height: 50px;
    height: $height;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: $bg-main-color;
    }

    &.bg-slope-top {
        top: -$height;
    }
    &.bg-slope-bottom {
        bottom: -$height;
        transform: rotate(180deg);
    }
}
