.c-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  // padding: 8px 15px 8px 40px;
  padding: 8px 12px 8px 28px;
  background-color: #4794c1;
  color: #fff;
  border-radius: 40px;
  font-weight: 600;
  border: solid 2px transparent;

  .txt {
    // font-size: 18px;
    font-size: 16px;
    line-height: 1.3;
    @include lineHeight(1.3);
  }

  .icon {
    display: block;
    width: 39px;
    height: 39px;
    // margin: 0 0 0 20px;
    margin: 0 0 0 10px;
  }
  .iconBefore {
    display: block;
    margin-right: 12px;
  }
  circle,
  path {
    transition: 0.3s;
  }
  &:hover {
    opacity: 1;
    background-color: #fff;
    color: #4794c1;
    border-color: #4794c1;

    circle {
      fill: #4794c1;
    }
    path {
      fill: #fff;
    }
  }

  &.white {
    background-color: #fff;
    color: #0099cf;
    padding: 10px 15px 10px 30px;
    border: solid 2px #fff;

    .txt {
      font-size: 16px;
    }
    .icon {
      width: 30px;
      height: 30px;
      margin: 0 0 0 13px;
    }

    &:hover {
      opacity: 1;
      background-color: #0099cf;
      color: #fff;
      border-color: #fff;

      circle {
        fill: #fff;
      }
      path {
        fill: #4794c1;
      }
    }
  }

  &.center {
    margin-right: auto;
    margin-left: auto;
  }

  &.red {
    background-color: #ff3368;
    color: #fff;
    border: solid 2px transparent;

    &:hover {
      opacity: 1;
      background-color: #fff;
      color: #ff3368;
      border: solid 2px #ff3368;

      .icon {
        circle {
          fill: #ff3368;
        }
        path {
          fill: #fff;
        }
      }
      .iconBefore {
        path {
          fill: #ff3368;
        }
      }
    }
  }
}

@include sp {
  .c-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 11px 17px 11px 38px;

    .txt {
      font-size: 16px;
      line-height: 1.3;
      @include lineHeight(1.3);
    }

    .icon {
      width: 29px;
      height: 29px;
      margin: 0 0 0 18px;
    }
    .iconBefore {
      margin-right: 12px;
    }

    &.white {
      margin: 0;
      padding: 10px 14px 10px 25px;
      .txt {
        font-size: 15px;
      }
      .icon {
        width: 21px;
        height: 21px;
        margin: 0 0 0 8px;
      }
    }
  }
}
