.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 -10px;
}
.btn {
    display: block;
    border: solid 1px transparent;
    margin: 0 10px 10px 0;
    padding: 6px 18px;
    background-color: #345;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: $box-shadow;
}
.btn-push {
    @extend .btn;
    background-color: $color-btn-main;
    box-shadow:0 5px 0 0 darken($color-btn-main, 15%);
    transform: translateY(-5px);
    color: #fff;

    &:hover {
        box-shadow:0 1px 0 0 darken($color-btn-main, 15%);
        transform: translateY(-1px);
    }
}
