/*――――――――――――――――――――――――――――――――――――――――――――
/* ブログ
――――――――――――――――――――――――――――――――――――――――――――――*/
/*** c-blogCat ***/
.c-blogCat {
  width: fit-content;
  background-color: #2195C5;
  color: #fff;
  padding: 4px 15px;
  border-radius: 4px 16px 16px 4px;
  font-size: 16px;
  font-weight: 600;
}

@include sp {
  .c-blogCat {
    padding: 4px 15px;
    border-radius: 4px 16px 16px 4px;
    font-size: 13px;
  }
}
