.pageFeatureArea {
  padding-top: 75px;
  padding-bottom: 74px;
  background-color: #F0F8FF;

  .c-ttlStyle01 {
    margin-bottom: 59px;
  }
}
.c-colmunList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 25px;
}
.colmunList__item {
  width: calc((100% - (25px * 2)) / 3);
}
.colmunList__imgBox {
  margin: 0 0 20px 0;
  border-radius: 15px;
  overflow: hidden;

  .img {

  }
}
.colmunList__ttl {
  margin: 0 0 9px 0;
  font-size: 22px;
  color: #0097CA;
  text-align: center;
  line-height: 1.54;
  font-weight: 600;
}
.colmunList__txt {
  font-size: 16px;
  line-height: 1.625;
}

@include mid {
  .colmunList__item {
    width: calc((100% - (25px * 1)) / 2);
  }
}

@include sp {

  .pageFeatureArea {
    padding-top: 50px;
    padding-bottom: 50px;

    .c-ttlStyle01 {
      margin-bottom: 30px;
    }
  }

  .c-colmunList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 25px;
  }
  .colmunList__item {
    width: calc((100% - (25px * 0)) / 1);
  }
  .colmunList__imgBox {
    margin: 0 0 20px 0;
    border-radius: 15px;
    overflow: hidden;

    .img {

    }
  }
  .colmunList__ttl {
    margin: 0 0 9px 0;
    font-size: 22px;
    text-align: left;
  }
  .colmunList__txt {
    font-size: 15px;
    line-height: 1.625;
  }
}
