.faqArea {
    background-color: $bg-main-color;
    position: relative;
    z-index: 5;
}

.faqList {

}
.faqList__item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: $box-shadow;


    & + .faqList__item {
        margin-top: 20px;
    }
}
.faq__cat {
    margin: 50px 0 20px;
    font-size: 20px;

}
.faqList__q, .faqList__a {
    background-color: #fff;
    padding: 25px 50px 25px 60px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 20px center;
    position: relative;
    font-size: 16px;
    font-weight: bold;

    &.js-active {
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
    }

    &::before {
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        margin: auto;
        padding: 25px 0 12px 23px;
        content: 'Q';
        font-weight: bold;
        font-family: $font-family-kaisei;
        line-height: 1;
    }
}
.faqList__a {
    display: none;
    padding-top: 0;
    background-image: none;
    font-weight: 500;

    &::before {
        top: 3px;
        padding-top: 0;
        content: 'A';
    }
}

@media screen and (max-width: 767px) {
    .faqList {

    }
    .faqList__item {
        border-radius: 5px;
        overflow: hidden;
        box-shadow: $box-shadow;


        & + .faqList__item {
            margin-top: 12px;
        }
    }
    .faq__cat {
        margin: 40px 0 15px;
        font-size: 16px;

    }
    .faqList__q, .faqList__a {
        background-color: #fff;
        padding: 15px 40px 15px 40px;
        cursor: pointer;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: right 15px center;
        position: relative;
        font-size: 14px;
        font-weight: bold;

        &.js-active {
            background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
        }

        &::before {
            display: block;
            position: absolute;
            top: 2px;
            left: 0;
            margin: auto;
            padding: 15px 0 12px 15px;
            content: 'Q';
            font-weight: bold;
            font-family: $font-family-kaisei;
            line-height: 1;
        }
    }
    .faqList__a {
        display: none;
        padding-top: 0;
        background-image: none;
        font-weight: normal;

        &::before {
            top: 3px;
            padding-top: 0;
            content: 'A';
        }
    }
}
