.pageBtmLink {
  height: 75px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 8px 25px 8px 40px;

  .txt {
    font-size: 22px;
  }
  .icon {
    margin-left: 16px;
  }
}

@include sp {
  .pageBtmLink {
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 12px 25px 12px 40px;

    .txt {
      font-size: 20px;
    }
    .icon {
      margin-left: 16px;
    }
  }
}
