.pageFunArea {
  padding-bottom: 90px;
  .c-ttlStyle01 {
    margin-bottom: 55px;
  }
}
.pageFunArea--bgDot {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: radial-gradient(#D9ECF4 25%, transparent 25%), radial-gradient(#D9ECF4 25%, transparent 25%);
    background-size: 24px 24px;
    background-position: 0 0, 12px 12px;
    opacity: 0.3;
    content: "";
  }

  .inner {
    position: relative;
    z-index: 2;
  }
}
.c-pageFunList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
}
.pageFunList__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc((100% - (40px * 2)) / 3);
}
.pageFunList__imgBox {
  width: 100%;
  max-width: 311px;
  margin: 0 auto 23px;
  border-radius: 50%;
  overflow: hidden;
  .img {

  }
}
.pageFunList__ttl {
  margin: 0 0 7px 0;
  font-size: 26px;
  font-weight: 600;
  color: #0097CA;
  text-align: center;
}
.pageFunList__lead {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 1.875;
}
.pageFunList__link {
  margin-top: auto;

  .icon {
    width: 33px;
    height: 33px;
  }
  .txt {
    font-size: 16px;
  }
}

@include mid {
  .c-pageFunList {
    column-gap: 25px;
  }
}

@include sp {
  .pageFunArea {
    padding-top: 50px;
    padding-bottom: 50px;
    .c-ttlStyle01 {
      margin-bottom: 30px;
    }
  }
  .pageFunArea--bgDot {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      background-image: radial-gradient(#D9ECF4 25%, transparent 25%), radial-gradient(#D9ECF4 25%, transparent 25%);
      background-size: 24px 24px;
      background-position: 0 0, 12px 12px;
      opacity: 0.3;
      content: "";
    }

    .inner {
      position: relative;
      z-index: 2;
    }
  }
  .c-pageFunList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 40px;
  }
  .pageFunList__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
  }
  .pageFunList__imgBox {
    width: 100%;
    max-width: 260px;
    margin: 0 auto 18px;
    border-radius: 50%;
    overflow: hidden;
    .img {

    }
  }
  .pageFunList__ttl {
    margin: 0 0 9px 0;
    font-size: 22px;
    text-align: center;
  }
  .pageFunList__lead {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
  }
  .pageFunList__link {
    margin-top: auto;

    .icon {
      width: 33px;
      height: 33px;
    }
    .txt {
      font-size: 16px;
    }
  }
}
