.pageTtl {
  height: 461px;
  position: relative;
  z-index: 2;

  .c-ttlStylePage {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
}
.pageTtl__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include sp {
  .pageTtl {
    height: 260px;
    position: relative;

    .c-ttlStylePage {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  .pageTtl__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
