.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.col {
    margin-bottom: 20px;
    padding: 0 10px;
}
.row-pc-2 > .col {
    width: 50%;
    padding: 0 10px;
}
.row-pc-3 > .col {
    width: 33.33333%;
    padding: 0 10px;
}
.row-pc-4 > .col {
    width: 25%;
    padding: 0 10px;
}
.row-pc-5 > .col {
    width: 20%;
    padding: 0 10px;
}


@media screen and (max-width: 767px) {
    .row {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .row-sp-1 > .col {
        width: 100%;
        padding: 0 10px;
    }
    .row-sp-2 > .col {
        width: 50%;
        padding: 0 10px;
    }
    .row-sp-3 > .col {
        width: 33.33333%;
        padding: 0 10px;
    }
    .row-sp-4 > .col {
        width: 25%;
        padding: 0 10px;
    }
    .row-sp-5 > .col {
        width: 20%;
        padding: 0 10px;
    }

}
