.c-ttlStylePage {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: fit-content;
  border-radius: 0 30px 0 0;
  padding: 30px 70px 8px 60px;
}
.ttlStylePage__imgBox {
  margin: 0 17px 0 0;
  .icon {
    &.point {
      width: 54px;
    }
    &.activity {
      width: 67px;
    }
  }
}
.ttlStylePage__ttl {
  .subTxt {
    display: block;
    margin: 0 0 8px 0;
    padding: 0 0 0 21px;
    color: #0097CA;
    font-size: 20px;
    font-weight: 300;
    font-family: $font-maven;
    line-height: 1.2;
    @include lineHeight(1.2);
    position: relative;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 14px;
      height: 1px;
      margin: auto;
      background-color: #4794C1;
      content: '';
    }
  }
  .mainTxt {
    display: block;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    @include lineHeight(1.2);
  }
}

@include sp {
  .c-ttlStylePage {
    border-radius: 0 30px 0 0;
    padding: 15px 15px;
  }
  .ttlStylePage__imgBox {
    margin: 0 10px 0 0;
    .icon {
      &.point {
        width: 30px;
      }
      &.activity {
        width: 40px;
      }
    }
  }
  .ttlStylePage__ttl {
    .subTxt {
      margin: 0 0 8px 0;
      padding: 0 0 0 15px;
      font-size: 14px;
      position: relative;

      &::before {
        width: 9px;
        height: 1px;
      }
    }
    .mainTxt {
      font-size: 22px;
    }
  }
}
