.c-ttlStyle01 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto 40px;

  .subTxt {
    display: block;
    margin: 0 0 6px 0;
    font-size: 20px;
    color: #0097ca;
    font-weight: 300;
    @include lineHeight();
    position: relative;
    font-family: $font-maven;

    &::before,
    &::after {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 14px;
      height: 1px;
      margin: auto;
      background-color: #0097ca;
      content: "";
    }
    &::before {
      left: -22px;
    }
    &::after {
      right: -22px;
    }
  }
  .mainTxt {
    display: block;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    @include lineHeight();
  }

  & + .secLead {
    margin: -43px 0 25px;
    font-size: 16px;
    line-height: 1.6875;
    text-align: center;
  }

  /*** white ***/
  &.white {
    .subTxt {
      color: #fff;

      &::before,
      &::after {
        background-color: #fff;
      }
    }
    .mainTxt {
      color: #fff;
    }
  }
}

@include mid {
  .c-ttlStyle01 {
    .mainTxt {
      font-size: 32px;
    }
  }
}

@include sp {
  .c-ttlStyle01 {
    margin: 0 auto 25px;

    .subTxt {
      margin: 0 0 6px 0;
      font-size: 14px;

      &::before,
      &::after {
        width: 9px;
        height: 1px;
      }
      &::before {
        left: -15px;
      }
      &::after {
        right: -15px;
      }
    }
    .mainTxt {
      font-size: 25px;
    }

    & + .secLead {
      margin-top: -10px;
    }
  }
}
