.voiceArea {
  position: relative;
  background-color: #00A0DF;
  padding-top: 56px;
  padding-bottom: 88px;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#D9ECF4 25%, transparent 25%), radial-gradient(#D9ECF4 25%, transparent 25%);
    background-size: 24px 24px;
    background-position: 0 0, 12px 12px;
    opacity: 0.1;
    content: "";
  }

  .inner {
    position: relative;
    z-index: 2;
  }
  .c-ttlStyle01 {
    margin-bottom: 53px;
  }
}
.c-voiceList {
  display: flex;
  flex-direction: column;
  gap: 53px 0;
}
.voiceList__item {
  display: flex;
  gap: 0 46px;

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .voiceList__cont {
      &::before {
        left: auto;
        right: -32px;
        border-width: 27px 32px 0 0;
        border-color: #ffffff transparent transparent transparent;
      }
    }
  }
}
.voiceList__imgBox {
  width: 147px;
  margin-top: 14px;
  .img {

  }
}
.voiceList__cont {
  width: 967px;
  flex: 1;
  position: relative;
  z-index: 0;
  background-color: #fff;
  border-radius: 30px;
  padding: 25px 40px;

  &::before {
    position: absolute;
    top: 87px;
    left: -32px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 32px 27px 0;
    border-color: transparent #ffffff transparent transparent;
    content: "";
  }
}
.voiceList__iconbox {
  position: absolute;
  top: -10px;
  right: 39px;
  z-index: -1;

  .icon {
    filter: drop-shadow(2px 2px 3px rgba(#000, 0.16));
  }

  @media screen and (max-width: 1279px) {
    top: -30px;
  }
}
.voiceList__topTxt {
  margin: 0 0 4px 0;
  font-size: 16px;
  font-weight: 600;
}
.voiceList__ttl {
  margin: 0 0 8px 0;
  color: #FF9900;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.454;
}
.voiceList__txt {
  font-size: 16px;
  line-height: 1.625;
}

@include sp {
  .voiceArea {
    position: relative;
    background-color: #00A0DF;
    padding-top: 50px;
    padding-bottom: 50px;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(#D9ECF4 25%, transparent 25%), radial-gradient(#D9ECF4 25%, transparent 25%);
      background-size: 24px 24px;
      background-position: 0 0, 12px 12px;
      opacity: 0.1;
      content: "";
    }

    .inner {
      position: relative;
      z-index: 2;
    }
    .c-ttlStyle01 {
      margin-bottom: 30px;
    }
  }
  .c-voiceList {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  }
  .voiceList__item {
    display: flex;
    gap: 0 20px;

    &:nth-child(2n) {
      flex-direction: row-reverse;

      .voiceList__cont {
        &::before {
          left: auto;
          right: -14px;
          border-width: 22px 17px 0 0;
          border-color: #ffffff transparent transparent transparent;
        }
      }
    }
  }
  .voiceList__imgBox {
    width: 60px;
    margin-top: 14px;
    .img {

    }
  }
  .voiceList__cont {
    width:auto;
    flex: 1;
    position: relative;
    z-index: 0;
    background-color: #fff;
    border-radius: 30px;
    padding: 25px 15px;

    &::before {
      position: absolute;
      top: 40px;
      left: -16px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 22px 17px 0;
      border-color: transparent #ffffff transparent transparent;
      content: "";
    }
  }
  .voiceList__iconbox {
    position: absolute;
    top: -10px;
    right: 39px;
    z-index: -1;

    .icon {
      height: 30px;
    }

  }
  .voiceList__topTxt {
    margin: 0 0 6px 0;
    font-size: 14px;
    font-weight: 600;
  }
  .voiceList__ttl {
    margin: 0 0 8px 0;
    color: #FF9900;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.454;
  }
  .voiceList__txt {
    font-size: 14px;
    line-height: 1.625;
  }
}
