@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/**********************************************************

ブレイクポイント

***********************************************************/
@font-face {
  font-family: "ZenMaruGothic";
  src: url("../fonts/ZenMaruGothic-Medium.woff2") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "ZenMaruGothic";
  src: url("../fonts/ZenMaruGothic-Bold.woff2") format("woff");
  font-weight: bold;
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* pc sp 出し分けのためのcss
――――――――――――――――――――――――――――――――――――――――――――――*/
@media screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
  img {
    image-rendering: -webkit-optimize-contrast;
  }
}
@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* font
――――――――――――――――――――――――――――――――――――――――――――――*/
/*――――――――――――――――――――――――――――――――――――――――――――
/* vw
――――――――――――――――――――――――――――――――――――――――――――――*/
/*――――――――――――――――――――――――――――――――――――――――――――
/* line-height
――――――――――――――――――――――――――――――――――――――――――――――*/
/*――――――――――――――――――――――――――――――――――――――――――――
/* html,body
――――――――――――――――――――――――――――――――――――――――――――――*/
* {
  min-height: 0;
  min-width: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  color: #001C10;
  font-size: 16px;
  font-family: "ZenMaruGothic", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  font-weight: 300;
  position: relative;
}
body.is-active {
  overflow: hidden;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* デフォルトの設定
――――――――――――――――――――――――――――――――――――――――――――――*/
img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

a {
  transition: 0.3s;
  cursor: pointer;
}
a:hover {
  opacity: 0.7;
}
a.c-imgScale .img {
  transition: 0.5s;
}
a.c-imgScale:hover {
  opacity: 1;
}
a.c-imgScale:hover .img {
  transform: scale(1.1);
}
a circle,
a path,
a line,
a rect {
  transition: 0.3s;
}

input,
textarea {
  font-family: "ZenMaruGothic", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* 共通のレイアウト
――――――――――――――――――――――――――――――――――――――――――――――*/
/*** section ***/
.l-section {
  padding: 75px cl(30, 60) 75px;
  position: relative;
}

.l-inner {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}
.l-inner.--s {
  max-width: 1040px;
}

@media screen and (max-width: 768px) {
  .l-section {
    padding-right: 15px;
    padding-left: 15px;
  }
  .l-inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* 余白調整
――――――――――――――――――――――――――――――――――――――――――――――*/
.l-pd {
  padding-right: cl(30, 60);
  padding-left: cl(30, 60);
}

.l-pd-left {
  padding-left: cl(30, 60);
}

.l-pd-right {
  padding-right: cl(30, 60);
}

.l-pd0-left {
  margin-left: clamp(-60px, -8.1vw + 30px, -30px);
}

.l-pd0-right {
  margin-right: clamp(-60px, -8.1vw + 30px, -30px);
}

@media screen and (max-width: 768px) {
  .l-pd {
    padding-right: 15px;
    padding-left: 15px;
  }
  .l-pd-left {
    padding-left: 15px;
  }
  .l-pd-right {
    padding-right: 15px;
  }
  .l-pd0-left {
    margin-left: -15px;
  }
  .l-pd0-right {
    margin-right: -15px;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* mixin
――――――――――――――――――――――――――――――――――――――――――――――*/
.c-breadArea {
  margin-bottom: 50px;
}
.c-breadArea + * {
  padding-top: 0;
}

.c-breadNav {
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 12px 20px;
}

.c-breadList {
  display: flex;
  align-items: center;
  gap: 0 26px;
}
.c-breadList li {
  font-size: 14px;
  position: relative;
}
.c-breadList li + li::before {
  display: block;
  position: absolute;
  top: 0;
  left: -13px;
  bottom: 0;
  width: 1px;
  height: 13px;
  margin: auto;
  background-color: #3B3333;
  transform: rotate(24deg);
  content: "";
}
.c-breadList a {
  display: block;
  text-decoration: underline;
}
.c-breadList a:hover {
  text-decoration: none;
  opacity: 1;
}
.c-breadList li:last-child a {
  pointer-events: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .c-breadArea {
    margin-bottom: 40px;
  }
  .c-breadNav {
    border-radius: 8px;
    padding: 10px 20px;
  }
  .c-breadList {
    display: flex;
    align-items: center;
    gap: 0 26px;
    overflow-x: auto;
  }
  .c-breadList li {
    font-size: 13px;
    position: relative;
    flex-shrink: 0;
  }
  .c-breadList li + li::before {
    top: 0;
    left: -13px;
    bottom: 0;
    width: 1px;
    height: 13px;
    transform: rotate(24deg);
  }
  .c-breadList a {
    display: block;
    text-decoration: underline;
  }
  .c-breadList li:last-child a {
    pointer-events: none;
    text-decoration: none;
  }
}
.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #303139;
  font-size: 14px;
  min-width: 245px;
  width: -moz-fit-content;
  width: fit-content;
  height: 47px;
  background-color: #fff;
  position: relative;
  border-radius: 0 5px 5px 5px;
  font-weight: 600;
  padding: 5px 35px 5px 25px;
}
.c-btn::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 14px;
  height: 14px;
  margin: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  background-color: #303139;
  content: "";
}
.c-btn::after {
  display: block;
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
  width: 12px;
  height: 10px;
  margin: auto;
  -webkit-mask-image: url(../img/common/ico_btn-arrow.svg);
          mask-image: url(../img/common/ico_btn-arrow.svg);
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #303139;
  content: "";
}
.c-btn:hover {
  opacity: 1;
  background-color: #303139;
  color: #fff;
}
.c-btn:hover::before {
  background-color: #fff;
}
.c-btn:hover::after {
  background-color: #fff;
}
.c-btn.center {
  margin-left: auto;
  margin-right: auto;
}
.c-btn.window::after {
  width: 12px;
  height: 12px;
  -webkit-mask-image: url(../img/common/ico_window.svg);
          mask-image: url(../img/common/ico_window.svg);
}
.c-btn.black {
  background-color: #303139;
  color: #fff;
}
.c-btn.black::before {
  background-color: #fff;
}
.c-btn.black::after {
  background-color: #fff;
}
.c-btn.black:hover {
  background-color: #fff;
  color: #303139;
}
.c-btn.black:hover::before {
  background-color: #303139;
}
.c-btn.black:hover::after {
  background-color: #303139;
}

.c-linkTxt {
  text-decoration: underline;
}
.c-linkTxt:hover {
  opacity: 1;
  text-decoration: none;
}
.c-linkTxt.arrow::after {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  margin: 0 0 -2px 1px;
  background: url(../img/common/ico_link-txt-arrow.svg) no-repeat center center/100%;
  content: "";
}

.c-txtDot {
  font-size: 14px;
  position: relative;
  padding-left: 13px;
  line-height: 1.71;
}
.c-txtDot::before {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  margin: 0 0 0 0;
  border-radius: 50%;
  background-color: #3B3333;
  content: "";
}
.c-txtDot + .c-txtDot {
  margin-top: 2px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  /* width: 20px;
  height: 20px;
  padding: 5px; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.headerSnsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 25px;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* footerContactArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.footerContactArea {
  background-color: #DCF2F7;
  padding-top: 48px;
  padding-bottom: 54px;
  border-radius: 30px 30px 0 0;
}
.footerContactArea .c-ttlStyle01 .mainTxt {
  font-size: 42px;
}

.contactWrapper {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px 40px 33px;
}

.contactList {
  display: flex;
  justify-content: center;
  margin: 0 -3vw;
}

.contactList__item {
  position: relative;
  padding: 0 3vw;
}
.contactList__item + .contactList__item {
  border-left: solid 4px #DCF2F7;
}
.contactList__item.tel .contactLink {
  background-color: #37467F;
}
.contactList__item.reserve .contactLink {
  background-color: #FF004D;
}
.contactList__item.contact .contactLink {
  background-color: #2195C5;
}

.contactList__ttl {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.contactList__ttl .imgBox {
  margin: 0 5px 0 0;
}
.contactList__ttl .txt {
  font-size: 22px;
  font-weight: 600;
}

.contactLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
  border-radius: 50px;
  padding: 13px 30px 13px 30px;
  color: #fff;
  border: solid 2px transparent;
}
.contactLink:hover {
  opacity: 1;
}
.contactList__item.tel .contactLink:hover {
  border-color: #37467F;
  color: #37467F;
  background-color: #fff;
}
.contactList__item.tel .contactLink:hover .contactLink__txtBox .subTxt {
  color: #37467F;
}
.contactList__item.tel .contactLink:hover .contactLink__txtBox .mainTxt {
  color: #37467F;
}
.contactList__item.reserve .contactLink:hover {
  border-color: #FF004D;
  color: #FF004D;
  background-color: #fff;
}
.contactList__item.reserve .contactLink:hover .contactLink__txtBox .subTxt {
  color: #FF004D;
}
.contactList__item.reserve .contactLink:hover .contactLink__txtBox .mainTxt {
  color: #FF004D;
}
.contactList__item.reserve .contactLink:hover .icon circle {
  fill: #FF004D;
}
.contactList__item.reserve .contactLink:hover .icon path {
  fill: #fff;
}
.contactList__item.contact .contactLink:hover {
  border-color: #2195C5;
  color: #2195C5;
  background-color: #fff;
}
.contactList__item.contact .contactLink:hover .contactLink__txtBox .subTxt {
  color: #2195C5;
}
.contactList__item.contact .contactLink:hover .contactLink__txtBox .mainTxt {
  color: #2195C5;
}
.contactList__item.contact .contactLink:hover .icon circle {
  fill: #2195C5;
}
.contactList__item.contact .contactLink:hover .icon path {
  fill: #fff;
}

.contactLink__txtBox {
  flex: 1;
}
.contactLink__txtBox .subTxt {
  margin: 0 0 6px 0;
  color: #CED6F4;
  font-size: 14px;
  font-weight: 600;
}
.contactLink__txtBox .subTxt::before, .contactLink__txtBox .subTxt::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.contactLink__txtBox .subTxt::before {
  margin-top: calc((1 - 1.6) * 0.5em);
}
.contactLink__txtBox .subTxt::after {
  margin-bottom: calc((1 - 1.6) * 0.5em);
}
.contactList__item.tel .contactLink__txtBox .subTxt {
  color: #CED6F4;
}
.contactList__item.reserve .contactLink__txtBox .subTxt {
  color: #FFD9E8;
}
.contactList__item.contact .contactLink__txtBox .subTxt {
  color: #BBE1EF;
}
.contactLink__txtBox .mainTxt {
  font-weight: 600;
  font-size: 24px;
}
.contactLink__txtBox .mainTxt::before, .contactLink__txtBox .mainTxt::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.contactLink__txtBox .mainTxt::before {
  margin-top: calc((1 - 1.6) * 0.5em);
}
.contactLink__txtBox .mainTxt::after {
  margin-bottom: calc((1 - 1.6) * 0.5em);
}

.contactLink__imgBox {
  margin: 0 0 0 30px;
}
.contactLink__imgBox .icon {
  display: block;
  margin-right: -11px;
}

@media screen and (max-width: 1279px) {
  .footerContactArea {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .contactWrapper {
    padding: 30px 40px;
  }
  .contactList__item {
    padding: 0 2vw;
  }
  .contactList__ttl {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
  }
  .contactList__ttl .imgBox {
    margin: 0 8px 0 0;
  }
  .contactList__ttl .txt {
    font-size: 20px;
    font-weight: 600;
  }
  .contactLink {
    min-height: 84px;
    border-radius: 50px;
    padding: 15px 22px 15px 30px;
  }
  .contactLink__txtBox {
    flex: 1;
  }
  .contactLink__txtBox .subTxt {
    margin: 0 0 6px 0;
    font-size: 12px;
  }
  .contactLink__txtBox .mainTxt {
    font-size: 20px;
  }
  .contactLink__imgBox {
    margin: 0 0 0 30px;
  }
  .contactLink__imgBox .icon {
    margin-right: 0;
  }
}
@media screen and (max-width: 1080px) {
  .footerContactArea {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .footerContactArea .c-ttlStyle01 .mainTxt {
    font-size: 22px;
  }
  .contactWrapper {
    padding: 25px 15px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
  }
  .contactList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .contactList__item {
    position: relative;
    padding: 0;
  }
  .contactList__item + .contactList__item {
    border: none;
    border-top: solid 2px #DCF2F7;
    margin-top: 20px;
    padding-top: 20px;
  }
  .contactList__ttl {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
  }
  .contactList__ttl .imgBox {
    display: flex;
    justify-content: center;
    width: 30px;
    margin: 0 9px 0 4px;
  }
  .contactList__item.contact .contactList__ttl .icon {
    width: 27px;
  }
  .contactList__ttl .txt {
    font-size: 20px;
    font-weight: 600;
  }
  .contactLink {
    min-height: 72px;
    padding: 13px 18px 13px 30px;
  }
  .contactLink__txtBox {
    flex: 1;
  }
  .contactLink__txtBox .subTxt {
    margin: 0 0 3px 0;
    font-size: 12px;
    font-weight: 600;
  }
  .contactLink__txtBox .mainTxt {
    font-size: 20px;
  }
  .contactLink__imgBox {
    margin: 0 0 0 30px;
  }
  .contactLink__imgBox .icon {
    width: 47px;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* footerArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.footerArea {
  background-color: #00A0DF;
  padding-top: 55px;
  padding-bottom: 70px;
  color: #fff;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 53px 0;
}
.footerLogo .link {
  display: block;
}
@media screen and (max-width: 768px) {
  .footerArea {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
  }
  .footerLogo .link {
    display: block;
  }
  .footerLogo .icon {
    width: 108px;
  }
}
/*** ftMenuNav ***/
.ftMenuList01 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 29px;
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports not (translate: none) {
    .ftMenuList01 + .ftMenuList01 {
      margin-top: -60px;
      margin-left: -29px;
    }
  }
}

.ftMenuList01__item {
  width: calc((100% - 87px) / 4);
}
@media screen and (max-width: 1080px) {
  .ftMenuList01__item {
    width: calc((100% - 58px) / 3);
  }
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports not (translate: none) {
    .ftMenuList01__item + .ftMenuList01__item {
      margin-top: 60px;
      margin-left: 29px;
    }
  }
}

.ftMenuList01__ttlBox {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #fff;
  position: relative;
  padding: 0 0 12px;
  min-height: 55px;
}
.ftMenuList01__ttlBox::before {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 40px;
  height: 2px;
  background-color: #FFE500;
  content: "";
}

.ftMenuList01__ttlIcon {
  margin: 3px 7px 0 0;
}
.ftMenuList01__ttl {
  flex: 1;
}
.ftMenuList01__ttl .subTxt {
  display: block;
  color: #FFE579;
  font-size: 12px;
  font-weight: 300;
  margin: 0 0 0 0;
}
.ftMenuList01__ttl .subTxt::before, .ftMenuList01__ttl .subTxt::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.ftMenuList01__ttl .subTxt::before {
  margin-top: calc((1 - 1.6) * 0.5em);
}
.ftMenuList01__ttl .subTxt::after {
  margin-bottom: calc((1 - 1.6) * 0.5em);
}
.ftMenuList01__ttl .mainTxt {
  display: block;
  font-size: 17px;
  font-weight: 600;
}
.ftMenuList01__ttl .mainTxt::before, .ftMenuList01__ttl .mainTxt::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.ftMenuList01__ttl .mainTxt::before {
  margin-top: calc((1 - 1.6) * 0.5em);
}
.ftMenuList01__ttl .mainTxt::after {
  margin-bottom: calc((1 - 1.6) * 0.5em);
}

.ftMenuList02 {
  margin-top: 10px;
  padding: 0 0 0 0;
}

.ftMenuList02__item + .ftMenuList02__item {
  margin-top: 7px;
}

.ftMenuList02__link {
  display: block;
  padding: 0 0 0 20px;
  position: relative;
  font-size: 15px;
}
.ftMenuList02__link::before {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url(../img/common/icon_arrow-blue-circle-white.svg) no-repeat center center;
  background-size: 100%;
  content: "";
}

.ftMenu__btmInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .ftMenuList01 {
    display: flex;
    flex-direction: column;
    gap: 0px 29px;
  }
  .ftMenuList01__item {
    width: auto;
  }
  .ftMenuList01__ttlBox {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #fff;
    padding: 13px 40px 13px 0;
  }
  .ftMenuList01__ttlBox::before {
    left: 0;
    bottom: -2px;
    width: 40px;
    height: 2px;
  }
  .ftMenuList01__ttlBox::after {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 17px;
    height: 17px;
    margin: auto;
    background: url(../img/common/icon_arrow-footer-aco.svg) no-repeat center center;
    background-size: 100%;
    transition: 0.3s;
    content: "";
  }
  .ftMenuList01__ttlBox.is-open::after {
    transform: rotate(-90deg);
  }
  .ftMenuList01__ttlIcon {
    display: flex;
    justify-content: center;
    width: 35px;
    margin: 3px 7px 0 0;
  }
  .ftMenuList01__ttl {
    flex: 1;
  }
  .ftMenuList01__ttl .subTxt {
    font-size: 12px;
    margin: 0 0 3px 0;
    font-weight: 600;
  }
  .ftMenuList01__ttl .mainTxt {
    font-size: 17px;
  }
  .ftMenuList02 {
    display: none;
    margin-top: 10px;
    padding: 0 0 15px 0;
  }
  .ftMenuList02__item + .ftMenuList02__item {
    margin-top: 6px;
  }
  .ftMenuList02__link {
    display: block;
    padding: 0 0 0 20px;
    position: relative;
    font-size: 15px;
  }
  .ftMenuList02__link::before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 12px;
    background: url(../img/common/icon_arrow-blue-circle-white.svg) no-repeat center center;
    background-size: 100%;
    content: "";
  }
  .ftMenu__btmInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
}
/*** footerCopy ***/
.footerCopy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 15px;
}
.footerCopy .copy {
  color: #939EB2;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .footerCopy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
  }
  .footerCopy .copy {
    font-size: 14px;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* z-index
――――――――――――――――――――――――――――――――――――――――――――――*/
.u-z1 {
  z-index: 1;
}

.u-z2 {
  z-index: 2;
}

.u-z3 {
  z-index: 3;
}

.u-z4 {
  z-index: 4;
}

.u-z5 {
  z-index: 5;
}

.u-z6 {
  z-index: 6;
}

.u-z7 {
  z-index: 7;
}

.u-z8 {
  z-index: 8;
}

.u-z9 {
  z-index: 9;
}

.u-z10 {
  z-index: 10;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* potition
――――――――――――――――――――――――――――――――――――――――――――――*/
.u-por {
  position: relative;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* flex
――――――――――――――――――――――――――――――――――――――――――――――*/
.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* margin
――――――――――――――――――――――――――――――――――――――――――――――*/
@media screen and (min-width: 769px) {
  .u-mt5-pc {
    margin-top: 5px;
  }
  .u-mt10-pc {
    margin-top: 10px;
  }
  .u-mt15-pc {
    margin-top: 15px;
  }
  .u-mt20-pc {
    margin-top: 20px;
  }
  .u-mt25-pc {
    margin-top: 25px;
  }
  .u-mt30-pc {
    margin-top: 30px;
  }
  .u-mt35-pc {
    margin-top: 35px;
  }
  .u-mt40-pc {
    margin-top: 40px;
  }
  .u-mt45-pc {
    margin-top: 45px;
  }
  .u-mt50-pc {
    margin-top: 50px;
  }
  .u-mt55-pc {
    margin-top: 55px;
  }
  .u-mt60-pc {
    margin-top: 60px;
  }
  .u-mt65-pc {
    margin-top: 65px;
  }
  .u-mt70-pc {
    margin-top: 70px;
  }
  .u-mt75-pc {
    margin-top: 75px;
  }
  .u-mt80-pc {
    margin-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .u-mt5-sp {
    margin-top: 5px;
  }
  .u-mt10-sp {
    margin-top: 10px;
  }
  .u-mt15-sp {
    margin-top: 15px;
  }
  .u-mt20-sp {
    margin-top: 20px;
  }
  .u-mt25-sp {
    margin-top: 25px;
  }
  .u-mt30-sp {
    margin-top: 30px;
  }
  .u-mt35-sp {
    margin-top: 35px;
  }
  .u-mt40-sp {
    margin-top: 40px;
  }
  .u-mt45-sp {
    margin-top: 45px;
  }
  .u-mt50-sp {
    margin-top: 50px;
  }
  .u-mt55-sp {
    margin-top: 55px;
  }
  .u-mt60-sp {
    margin-top: 60px;
  }
  .u-mt65-sp {
    margin-top: 65px;
  }
  .u-mt70-sp {
    margin-top: 70px;
  }
  .u-mt75-sp {
    margin-top: 75px;
  }
  .u-mt80-sp {
    margin-top: 80px;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* font-size
――――――――――――――――――――――――――――――――――――――――――――――*/
@media screen and (min-width: 769px) {
  .u-fz10-pc {
    font-size: 10px;
  }
  .u-fz11-pc {
    font-size: 11px;
  }
  .u-fz12-pc {
    font-size: 12px;
  }
  .u-fz13-pc {
    font-size: 13px;
  }
  .u-fz14-pc {
    font-size: 14px;
  }
  .u-fz15-pc {
    font-size: 15px;
  }
  .u-fz16-pc {
    font-size: 16px;
  }
  .u-fz17-pc {
    font-size: 17px;
  }
  .u-fz18-pc {
    font-size: 18px;
  }
  .u-fz19-pc {
    font-size: 19px;
  }
  .u-fz20-pc {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .u-fz10-sp {
    font-size: 10px;
  }
  .u-fz11-sp {
    font-size: 11px;
  }
  .u-fz12-sp {
    font-size: 12px;
  }
  .u-fz13-sp {
    font-size: 13px;
  }
  .u-fz14-sp {
    font-size: 14px;
  }
  .u-fz15-sp {
    font-size: 15px;
  }
  .u-fz16-sp {
    font-size: 16px;
  }
  .u-fz17-sp {
    font-size: 17px;
  }
  .u-fz18-sp {
    font-size: 18px;
  }
  .u-fz19-sp {
    font-size: 19px;
  }
  .u-fz20-sp {
    font-size: 20px;
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――
/* font
――――――――――――――――――――――――――――――――――――――――――――――*/
.u-fw600 {
  font-weight: 600;
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* 特殊
――――――――――――――――――――――――――――――――――――――――――――――*/
* > *:first-child {
  margin-top: 0;
}

* > *:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */