
/*――――――――――――――――――――――――――――――――――――――――――――
/* footerContactArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.footerContactArea {
  background-color: #DCF2F7;
  padding-top: 48px;
  padding-bottom: 54px;
  border-radius: 30px 30px 0 0;

  .c-ttlStyle01 .mainTxt {
    font-size: 42px;
  }
}

.contactWrapper {
  width: fit-content;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px 40px 33px;
}
.contactList {
  display: flex;
  justify-content: center;
  margin: 0 -3vw;
}
.contactList__item {
  position: relative;
  padding: 0 3vw;
  & + & {
    border-left: solid 4px #DCF2F7;
  }

  &.tel .contactLink {
    background-color: #37467F;
  }

  &.reserve .contactLink {
    background-color: #FF004D;
  }

  &.contact .contactLink {
    background-color: #2195C5;
  }
}
.contactList__ttl {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;

  .imgBox {
    margin: 0 5px 0 0;
  }
  .icon {

  }
  .txt {
    font-size: 22px;
    font-weight: 600;
  }
}
.contactLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
  border-radius: 50px;
  padding: 13px 30px 13px 30px;
  color: #fff;
  border: solid 2px transparent;

  &:hover {
    opacity: 1;

    .contactList__item.tel & {
      border-color: #37467F;
      color: #37467F;
      background-color: #fff;

      .contactLink__txtBox {
        .subTxt {
          color: #37467F;
        }
        .mainTxt {
          color: #37467F;
        }
      }
    }

    .contactList__item.reserve & {
      border-color: #FF004D;
      color: #FF004D;
      background-color: #fff;

      .contactLink__txtBox {
        .subTxt {
          color: #FF004D;
        }
        .mainTxt {
          color: #FF004D;
        }
      }
      .icon {
        circle {
          fill: #FF004D;
        }
        path {
          fill: #fff;
        }
      }
    }

    .contactList__item.contact & {
      border-color: #2195C5;
      color: #2195C5;
      background-color: #fff;

      .contactLink__txtBox {
        .subTxt {
          color: #2195C5;
        }
        .mainTxt {
          color: #2195C5;
        }
      }
      .icon {
        circle {
          fill: #2195C5;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
}
.contactLink__txtBox {
  flex: 1;

  .subTxt {
    margin: 0 0 6px 0;
    color: #CED6F4;
    font-size: 14px;
    font-weight: 600;
    @include lineHeight();

    .contactList__item.tel & {
      color: #CED6F4;
    }
    .contactList__item.reserve & {
      color: #FFD9E8;
    }
    .contactList__item.contact & {
      color: #BBE1EF;
    }
  }
  .mainTxt {
    font-weight: 600;
    font-size: 24px;
    @include lineHeight();
  }
}
.contactLink__imgBox {
  margin: 0 0 0 30px;
  .icon {
    display: block;
    margin-right: -11px;
  }
}
@media screen and (max-width: 1279px) {
  .footerContactArea {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .contactWrapper {
    padding: 30px 40px;
  }
  .contactList {

  }
  .contactList__item {
    padding: 0 2vw;
  }
  .contactList__ttl {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;

    .imgBox {
      margin: 0 8px 0 0;
    }
    .icon {

    }
    .txt {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .contactLink {
    min-height: 84px;
    border-radius: 50px;
    padding: 15px 22px 15px 30px;
  }
  .contactLink__txtBox {
    flex: 1;
    .subTxt {
      margin: 0 0 6px 0;
      font-size: 12px;
    }
    .mainTxt {
      font-size: 20px;
    }
  }
  .contactLink__imgBox {
    margin: 0 0 0 30px;
    .icon {
      margin-right: 0;
    }
  }
}

@include mid {
  .footerContactArea {
    padding-top: 30px;
    padding-bottom: 35px;

    .c-ttlStyle01 .mainTxt {
      font-size: 22px;
    }
  }

  .contactWrapper {
    padding: 25px 15px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
  }
  .contactList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .contactList__item {
    position: relative;
    padding: 0;
    & + & {
      border: none;
      border-top: solid 2px #DCF2F7;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
  .contactList__ttl {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;

    .imgBox {
      display: flex;
      justify-content: center;
      width: 30px;
      margin: 0 9px 0 4px;
    }
    .icon {
      .contactList__item.contact & {
        width: 27px;
      }
    }
    .txt {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .contactLink {
    min-height: 72px;
    padding: 13px 18px 13px 30px;
  }
  .contactLink__txtBox {
    flex: 1;
    .subTxt {
      margin: 0 0 3px 0;
      font-size: 12px;
      font-weight: 600;
    }
    .mainTxt {
      font-size: 20px;
    }
  }
  .contactLink__imgBox {
    margin: 0 0 0 30px;
    .icon {
      width: 47px;
    }
  }
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* footerArea
――――――――――――――――――――――――――――――――――――――――――――――*/
.footerArea {
  background-color: #00A0DF;
  padding-top: 55px;
  padding-bottom: 70px;
  color: #fff;
}
.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 53px 0;

  .link {
    display: block;
  }
  .icon {
  }
}
@include sp {
  .footerArea {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;

    .link {
      display: block;
    }
    .icon {
      width: 108px;
    }
  }
}


/*** ftMenuNav ***/
.ftMenuNav {

}
.ftMenuList01 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 29px;

  @media not all and (min-resolution:.001dpcm) {
    @supports (not (translate: none)) {
      & + & {
        margin-top: -60px;
        margin-left: -29px;
      }
    }
  }
}
.ftMenuList01__item {
  width: calc((100% - (29px * 3)) / 4);

  @include mid {
    width: calc((100% - (29px * 2)) / 3);
  }

  @media not all and (min-resolution:.001dpcm) {
    @supports (not (translate: none)) {
      & + & {
        margin-top: 60px;
        margin-left: 29px;
      }
    }
  }
}
.ftMenuList01__ttlBox {
  display: flex;
  align-items: center;
  border-bottom: solid 2px #fff;
  position: relative;
  padding: 0 0 12px;
  min-height: 55px;

  &::before {
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 40px;
    height: 2px;
    background-color: #FFE500;
    content: '';
  }
}
.ftMenuList01__ttlIcon {
  margin: 3px 7px 0 0;
  .icon {
    // height: 34px;
  }
}
.ftMenuList01__ttl {
  flex: 1;
  .subTxt {
    display: block;
    color: #FFE579;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 0 0;
    @include lineHeight();
  }
  .mainTxt {
    display: block;
    font-size: 17px;
    font-weight: 600;
    @include lineHeight();
  }
}

.ftMenuList02 {
  margin-top: 10px;
  padding: 0 0 0 0;
}
.ftMenuList02__item {
  & + & {
    margin-top: 7px;
  }
}
.ftMenuList02__link {
  display: block;
  padding: 0 0 0 20px;
  position: relative;
  font-size: 15px;

  &::before {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url(../img/common/icon_arrow-blue-circle-white.svg) no-repeat center center;
  background-size: 100%;
  content: '';
  }
}
.ftMenu__btmInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}


@include sp {
  .ftMenuNav {

  }
  .ftMenuList01 {
    display: flex;
    flex-direction: column;
    gap: 0px 29px;
  }
  .ftMenuList01__item {
    width: auto;

  }
  .ftMenuList01__ttlBox {
    display: flex;
    align-items: center;
    border-bottom: solid 2px #fff;
    padding: 13px 40px 13px 0;

    &::before {
      left: 0;
      bottom: -2px;
      width: 40px;
      height: 2px;
    }
    &::after {
      display: block;
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 17px;
      height: 17px;
      margin: auto;
      background: url(../img/common/icon_arrow-footer-aco.svg) no-repeat center center;
      background-size: 100%;
      transition: 0.3s;
      content: '';
    }
    &.is-open::after {
      transform: rotate(-90deg);
    }
  }
  .ftMenuList01__ttlIcon {
    display: flex;
    justify-content: center;
    width: 35px;
    margin: 3px 7px 0 0;
    .icon {

    }
  }
  .ftMenuList01__ttl {
    flex: 1;
    .subTxt {
      font-size: 12px;
      margin: 0 0 3px 0;
      font-weight: 600;
    }
    .mainTxt {
      font-size: 17px;
    }
  }

  .ftMenuList02 {
    display: none;
    margin-top: 10px;
    padding: 0 0 15px 0;
  }
  .ftMenuList02__item {
    & + & {
      margin-top: 6px;
    }
  }
  .ftMenuList02__link {
    display: block;
    padding: 0 0 0 20px;
    position: relative;
    font-size: 15px;

    &::before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 12px;
    background: url(../img/common/icon_arrow-blue-circle-white.svg) no-repeat center center;
    background-size: 100%;
    content: '';
    }
  }
  .ftMenu__btmInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
}

/*** footerCopy ***/
.footerCopy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 15px;

  .copy {
    color: #939EB2;
    font-size: 14px;
    font-weight: 600;
  }
}

@include sp {
  .footerCopy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;

    .copy {
      font-size: 14px;
    }
  }
}
