.footer {
    margin-top: 60px;
    background-color: #333;
}
.container {

}
.footerLogo {

}
.footerLogo__link {

}
.footerLogo__img {

}
.footer__cont {
    display: flex;
}
.footerNavList {

}
.footerNavList__item {

}
.footerNavList__link {
    display: block;
    color: #fff;
}
.copyright {

}
