.header {

}
.headerTop {

}
.headerSnsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 25px;
}
.headerSnsList__item {

}
.headerLogo {

}
.headerInfo {

}
.headerInfo__link {

  .contact {

  }
  .reserve {

  }
}
.headerNav {

}
.headerNavList {

}
.headerNavList__item {

}
