.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color:rgba(255,255,255,0.95);
  margin: auto;
  padding: 14px 15px 8px;
  font-weight: 600;
  transition: 0.3s;

  &.is-active {
    // padding-top: 0px;
  }

  svg * {
    transition: 0.3s;
  }
}
.hd__inner {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

@include sp {
  .header {
    padding: 8px 15px 6px;

    &.is-active {
      // padding-top: 0px;
      // height: 55px;
    }
  }
  .hd__inner {
  }
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* hdTop
――――――――――――――――――――――――――――――――――――――――――――――*/
.hdTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include sp {
  .hdTop {
    margin-bottom: 0;
    padding: 0 0;
  }
}


/*** hdTopLeft ***/
.hdTopLeft {
  display: flex;
  align-items: center;
}
.hdTop__logo {
  .link {
    display: block;
  }
  .icon {
    height: 40px;
  }
}
.hdTop__portalLink {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  background-color: #00A0DF;
  border-radius: 20px;
  color: #fff;
  padding: 2px 10px 2px 5px;
  border: solid 2px #00A0DF;

  .icon {
    margin: 0 5px 0 0;
  }
  .txt {
    font-size: 15px;
    font-weight: 600;
  }

  &:hover {
    opacity: 1;
    background-color: #fff;
    color: #00A0DF;

    circle {
      fill: #00A0DF;
    }
    path {
      fill: #fff;
    }
  }
}

@include sp {
  .hdTopLeft {
    display: flex;
    align-items: center;
  }
  .hdTop__logo {
    .link {
      display: block;
    }
    .icon {
      height: 25px;
    }
  }
  .hdTop__portalLink {
    display: none;
  }
}

/*** hdTopRight ***/
.hdTopRight {
  display: flex;
  align-items: center;
}
.hdTopLnagList {
  display: flex;
  position: relative;
  margin: 0 20px 0 0;

  &::before {
    display: block;
    width: 16px;
    height: 16px;
    margin: 5px 5px 0 0;
    background: url(../img/common/icon_language.svg) no-repeat center center;
    background-size: 100%;
    content: "";
    transition: 0.3s;
  }
}
.hdTopLnagList__item {
  position: relative;

  & + & {
    margin: 0 0 0 20px;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      bottom: 0;
      width: 1px;
      height: 14px;
      margin: auto;
      background-color: #071C27;
      opacity: 0.6;
      transform: rotate(20deg);
      content: "";
    }
  }
}
.hdTopLnagList__link {
  font-size: 14px;

  &.is-current {
    opacity: 0.4;

    &:hover {
      cursor: default;
    }
  }
}

.hdTopContact {
  display: flex;
  align-items: center;
  margin: 0 32px 0 0;

  .icon {
    margin: 0 4px 0 0;
  }
  .txt {
    font-size: 14px;
    transition: 0.3s;
  }
}

.hdTopReserve {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin: -8px 25px 0 0;
  padding: 13px 17px 10px;
  background-color: #FF355C;
  color: #fff;
  border-radius: 0 0 14px 14px;
  border: solid 2px #FF355C;
  border-top: none;

  &:hover {
    background-color: #fff;
    color: #FF355C;
    opacity: 1;

    .icon * {
      fill: #FF355C;
    }
  }
}
.hdTopReserve__icon {
  margin: 0 5px 0 0;
}
.hdTopReserve__txt {
  .subTxt {
    margin: -2px 0 5px 0;
      font-size: 10px;
      font-weight: 300;
      line-height: 1;
  }
  .mainTxt {
    font-size: 16px;
    line-height: 1;
  }
}
.hdTop__menuBtn {
  padding: 0px 14px 0 0;
}

@include mid {
  .hdTopRight {
  }
  .header {
    .hdTopLnagList {
      display: none;
    }
    .hdTopContact {
      display: none;
    }
  }

  .hdTopReserve {
    display: flex;
    align-items: center;
    margin: -8px 15px 0 0;
    padding: 10px 15px;
    background-color: #FF355C;
    color: #fff;
    border-radius: 0 0 14px 14px;
  }
  .hdTopReserve__icon {
    margin: 0 5px 0 0;
  }
  .hdTopReserve__txt {
    .subTxt {
        font-size: 10px;
        font-weight: 300;
    }
    .mainTxt {
      font-size: 16px;
    }
  }
  .hdTop__menuBtn {

  }
}

@include sp {
  .hdTopRight {
  }
  .header {
    .hdTopReserve {
      display: none;
    }
  }
  .hdTopReserve__icon {
    margin: 0 5px 0 0;
  }
  .hdTop__menuBtn {
    margin: 0px 0px 0 0;
    .icon {
      width: 32px;
    }
  }
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* hdNavi
――――――――――――――――――――――――――――――――――――――――――――――*/
.hdNavi {
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: -9px;
  max-height: 58px;

  .header.is-active & {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    margin: 0;
    overflow: hidden;
  }
}
.hdNaviMenu {
  display: flex;
  gap: 0 10px;
  margin: 0 0 -12px 0;

}
.hdNaviMenu__link {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  box-shadow: 5px 5px 0 rgba(36,51,116,0.16);
  border-radius: 35px;
  position: relative;

  &.point {
   background-color: #C4F1FF;
  }
  &.activity {
    background-color: #DDFF6C;
  }

  path {
    transition: 0.3s;
  }
  &:hover {

  }

  @media not all and (min-resolution:.001dpcm) {
    @supports (not (translate: none)) {
      & + & {
        margin-left: 10px;
      }
    }
  }
}
.hdNaviMenu__icon {
  margin: 0 6px 0 0;

  .icon {
    display: block;
  }
}
.hdNaviMenu__txt {
  white-space: nowrap;
  .subTxt {
    margin: 0 0 5px 0;
    font-size: 10px;
    font-weight: 300;
    color: #5786A3;
    transition: 0.3s;
    @include lineHeight();
  }
  .mainTxt {
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    @include lineHeight();
  }
}

.hdNaviList {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
.hdNaviList__item {
  position: relative;

  & + & {

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
      margin: auto;
      background-color: #A9CFE8;
      content: '';
    }
  }
}
.hdNaviList__link {
  display: flex;
  align-items: center;
  padding: 0 14px;
}
.hdNaviList__icon {
  margin: 0 7px 0 0;
}
.hdNaviList__txt {
  white-space: nowrap;
  .subTxt {
    margin: 0 0 3px 0;
    font-size: 10px;
    font-weight: 300;
    color: #5786A3;
    @include lineHeight();
  }
  .mainTxt {
    font-size: 16px;
    color: #5786A3;
    font-size: 15px;
    font-weight: 600;
    @include lineHeight();
  }
}

@media screen and (max-width: 1279px) {
  .hdNavi {
    display: flex;
    justify-content: center;
    transition: 0.3s;
    margin-top: 15px;
    max-height: 58px;

    .header.is-active & {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      margin: 0;
      overflow: hidden;
    }
  }
  .hdNaviMenu {
    display: flex;
    gap: 0 10px;
    margin: 0 0 -12px 0;
  }
  .hdNaviMenu__link {
    display: flex;
    align-items: center;
    padding: 18px 12px;
    box-shadow: 5px 5px 0 rgba(36,51,116,0.16);
    position: relative;

    &:hover {

    }
  }
  .hdNaviMenu__icon {
    margin: 0 6px 0 0;
  }
  .hdNaviMenu__txt {
    .subTxt {
      margin: 0 0 5px 0;
      font-size: 10px;
      font-weight: 300;
    }
    .mainTxt {
      font-size: 13px;
    }
  }

  .hdNaviList {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
  }
  .hdNaviList__item {
    position: relative;

    & + & {

      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        height: 100%;
        margin: auto;
        background-color: #A9CFE8;
        content: '';
      }
    }
  }
  .hdNaviList__link {
    display: flex;
    align-items: center;
    padding: 0 14px;
  }
  .hdNaviList__icon {
    margin: 0 7px 0 0;
  }
  .hdNaviList__txt {
    .subTxt {
      margin: 0 0 3px 0;
      font-size: 10px;
    }
    .mainTxt {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .hdNaviMenu__link {
    padding: 13px 14px;
  }
  .hdNaviMenu__icon {
    display: none;
  }
  .hdNaviMenu__txt {
    .mainTxt {
      font-size: 12px;
    }
  }

  .hdNaviList {
    margin-left: 6px;
  }
  .hdNaviList__link {
    padding: 0 10px;
  }
  .hdNaviList__icon {
    display: none;
  }
  .hdNaviList__txt {
    .mainTxt {
      font-size: 11px;
    }
  }
}

@include sp {
  .hdNavi {
    display: none;
  }
}

/*――――――――――――――――――――――――――――――――――――――――――――
/* ドロップダウンメニュー
――――――――――――――――――――――――――――――――――――――――――――――*/
.hdNaviDropDownMenu {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  .gNavi-dropDown:hover & {
    opacity: 1;
    visibility: visible;
  }
}
.hdNaviDropDownMenuList {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 10px;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  box-shadow: 0px 2px 6px 0px rgba(#000, 0.1);

  .hdNaviList & {
    margin-top: 80px;
  }
}
.hdNaviDropDownMenuList__item {
  & + & {
    border-top: solid 1px #A0D0EB;
  }
}
.hdNaviDropDownMenuList__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;

  .txt {
    padding: 0 0 0 18px;
    font-size: 15px;
    position: relative;
    white-space: nowrap;
    font-weight: 600;
    transition: 0.3s;

    &::before {
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
      width: 12px;
      height: 12px;
      background: url(../img/common/icon_arrow-right-circle-blue.svg) no-repeat center center;
      background-size: 100%;
      transition: 0.3s;
      content: '';
      }
  }
  .imgBox {
    width: 101px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    overflow: hidden;
  }
  .img {

  }

  &:hover {
    opacity: 1;
    background-color: #009BD4;

    .txt{
      color: #fff;
      &::before {
        background-image: url(../img/common/icon_arrow-right-circle-blue-hover.svg);
      }
    }
  }
}



/*――――――――――――――――――――――――――――――――――――――――――――
/* フロートメニュー
――――――――――――――――――――――――――――――――――――――――――――――*/
.floatMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  // background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  font-weight: 600;
  background: url(../img/common/bg_float-menu.jpg) no-repeat center center;
  background-size: cover;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  .inner {
    position: relative;
    z-index: 2;
    pointer-events: none;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 50vw;
      z-index: 5;
      width: 100vw;
      height: 100%;
      margin: auto;
      background-color: #fff;
      pointer-events: auto;
      content: '';
    }

    svg * {
      transition: 0.3s;
    }
  }

  .hdTopReserve {
    border-radius: 31px;
    width: 100%;
    max-width: 267px;
    margin: 0;
    padding: 16px 24px 16px;
    border-top: solid 2px #FF355C;

    .icon {
      display: block;
    }
  }

  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .hdTop__logo {
    .icon {
      height: 29px;
    }
  }
  .hdTop__menuBtn {
    margin: 1px 8px 0 0;
  }
  .hdTopLnagList {
    margin: 0 20px 0 13px;
  }
}
.floatMenuBox {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  max-width: 650px;
  margin: 0 0 0 auto;
  padding: 17px 53px 60px;
  background-color: #fff;
  position: relative;
  z-index: 5;
  pointer-events: auto;
}
.floatMenuTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 0 30px 0;
}
.hdTop__logo {
  .link {
    display: block;
  }
  .icon {

  }
}

.hdTop__menuBtn {
  &.js-close {
  }
}
.floatMenuNav {

}
.floatMenuList01 {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 20px;

  @media not all and (min-resolution:.001dpcm) {
    @supports (not (translate: none)) {
      & + & {
        margin-top: -18px;
        margin-left: -10px;
      }
    }
  }

}
.floatMenuList01__item {
  width: calc((100% - (20px * 1)) / 2);

  @media not all and (min-resolution:.001dpcm) {
    @supports (not (translate: none)) {
      & + & {
        margin-top: 18px;
        margin-left: 10px;
      }
    }
  }
}
.floatMenuList01__ttlBox {
  display: flex;
  align-items: center;
}
.floatMenuList01__ttlIcon {
  width: 30px;
  display: flex;
  justify-content: center;
  margin: 3px 7px 0 0;
  .icon {

  }
}
.floatMenuList01__ttl {
  flex: 1;
  .subTxt {
    display: block;
    color: #5786A3;
    font-size: 10px;
    font-weight: 300;
    margin: 0 0 5px 0;
    @include lineHeight();
  }
  .mainTxt {
    display: block;
    font-size: 16px;
    font-weight: 600;
    @include lineHeight();
  }
}

.floatMenuList02 {
  margin-top: 10px;
  padding: 0 0 0 20px;
}
.floatMenuList02__item {
  & + & {
    margin-top: 5px;
  }
}
.floatMenuList02__link {
  display: block;
  padding: 0 0 0 20px;
  position: relative;
  font-size: 15px;

  &::before {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url(../img/common/icon_arrow-right-circle-blue.svg) no-repeat center center;
  background-size: 100%;
  content: '';
  }
}
.floatMenu__btmInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}


@include sp {
  .floatMenuWrapper {
    background: none;

    .inner {
      &::before {
        display: none;
      }
    }

    .hdTopReserve {
      border-radius: 31px;
      width: 100%;
      max-width: 267px;
      margin: 0 auto;
      padding-left: 24px;
      padding-right: 24px;
    }

    .overlay {

    }
    .hdTop__menuBtn {
    margin: 1px 0px 0 0;
    }
    .hdTop__logo{
    .icon {
      width: 189px;
      height: auto;
    }
  }
  }
  .floatMenuBox {
    overflow: visible;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    margin: 0 0 0 auto;
    padding: 0 0 30px;
  }
  .floatMenuTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 0 0 0;
    padding: 10px 15px;
    border-bottom: solid 1px #A0D0EB;
  }
  .hdTop__logo {
    .link {
      display: block;
    }
    .icon {
      width: 189px;
    }
  }

  .hdTop__menuBtn {

    &.js-close {

      .icon {
        // width: 42px;
      }
    }
  }
  .floatMenuNav {
    height: calc(100dvh - 62px);
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .floatMenuList01 {
    display: block;
    gap: 20px 20px;
  }
  .floatMenuList01__item {
    width: auto;
    padding: 12px 15px;
    border-bottom: solid 1px #A0D0EB;
  }
  .floatMenuList01__ttlBox {
    display: flex;
    align-items: center;
  }
  .floatMenuList01__ttlIcon {
    width: 30px;
    display: flex;
    justify-content: center;
    margin: 3px 7px 0 0;
    .icon {

    }
  }
  .floatMenuList01__ttl {
    .subTxt {
      color: #5786A3;
      font-size: 10px;
      font-weight: 300;
      margin: 0 0 3px 0;
    }
    .mainTxt {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      position: relative;

      .floatMenuList01__ttlBox.js-dropdown &::before {
        display: block;
        position: absolute;
        top: 5px;
        right: -20px;
        bottom: 0;
        width: 15px;
        height: 15px;
        margin: auto;
        background: url(../img/common/icon_arrow-dropdown.svg) no-repeat center center;
        background-size: 100%;
        transform: rotate(90deg);
        transition: 0.3s;
        content: '';
      }
      .floatMenuList01__ttlBox.js-dropdown.is-open &::before {
        transform: rotate(0deg);
      }
    }
  }

  .floatMenuList02 {
    display: none;
    margin-top: 10px;
    padding: 0 0 0 20px;
  }
  .floatMenuList02__item {

    & + & {
      margin-top: 10px;
    }
  }
  .floatMenuList02__link {
    display: block;
    padding: 0 0 0 20px;
    position: relative;
    font-size: 15px;

    &::before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 12px;
    background: url(../img/common/icon_arrow-right-circle-blue.svg) no-repeat center center;
    background-size: 100%;
    content: '';
    }
  }
  .floatMenu__btmInfo {
    display: block;
    margin-top: 0;
    padding: 20px 15px;

    .hdTopLnagList {

    }
    .hdTopReserve {
      margin-top: 15px;
    }
  }
}
