/*――――――――――――――――――――――――――――――――――――――――――――
/* ベースファイルを定義
――――――――――――――――――――――――――――――――――――――――――――――*/

@import 'base/_setting.scss';
@import 'base/_reset.scss';
@import 'base/_base.scss';

/*――――――――――――――――――――――――――――――――――――――――――――
/* mixinを読み込み
――――――――――――――――――――――――――――――――――――――――――――――*/
@import 'mixin/_mixin.scss';

/*――――――――――――――――――――――――――――――――――――――――――――
/* プラグインに関するcss
――――――――――――――――――――――――――――――――――――――――――――――*/
@import 'plugin/_slick.scss';
@import 'plugin/_slick-theme.scss';



/*――――――――――――――――――――――――――――――――――――――――――――
/* レイアウトに関するcss
――――――――――――――――――――――――――――――――――――――――――――――*/
@import 'layout/_header.scss';
@import 'layout/_footer.scss';


/*――――――――――――――――――――――――――――――――――――――――――――
/* componentに関するcss
――――――――――――――――――――――――――――――――――――――――――――――*/
@import 'component/_bg.scss';
@import 'component/_btn.scss';
@import 'component/_card.scss';
@import 'component/_faq.scss';
@import 'component/_loading.scss';
@import 'component/_row.scss';
@import 'component/_slider.scss';


/**********************************************************

 mv

***********************************************************/
.mvArea {
    width: 100%;
    height: 100vh;
    position: relative;
}
.mvArea__mainImg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
